.app-container{
    max-width: 600px;
    margin: 20px auto;
    font-family:
    system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',  sans-serif;
}

.goal-list{
    list-Style: none;
    padding: 0;
    margin: 0;
}

.goal-card{
    border: 1px solid #ddd;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    background-color: #fff;
    margin-bottom: 12px;
}

.add-goal-form{
    margin-bottom: 20px
}
.add-goal-form input{
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.add-goal-form button{
    margin-top: 8px;
}